<div class="sidebar">
    <div class="logo-container">
        <a class="logo-flex" href="#">
            <i class="fa-solid fa-microchip"></i>
            <strong><span>Text Event Visualizer</span></strong>
        </a>
    </div>

    <ul class="nav-items section-container">
        <a href="timelinevisualizer/false">
            <li>
            <i class="fa-solid fa-magnifying-glass"></i><span>Timeline Visualizer</span>
            </li>
        </a>
        <a href="timelinecreator">
            <li>
            <i class="fa-solid fa-solid fa-wrench"></i><span>Timeline Creator</span>
            </li>
        </a>
        <li @onclick="ToggleAdvanced">
            <i class="fa fa-cogs"></i><span>Advanced </span><i class="@(IsAdvancedVisible ? "fa-solid fa-chevron-up" : "fa-solid fa-chevron-down")"></i>
        </li>
        @if (IsAdvancedVisible)
        {
            <ul class="nav-items collapsible-content">
                <a href="articlecollector">
                    <li>
                    <i class="fa-solid fa-scroll"></i><span>Article Collector</span>
                </li>
                </a>
                <a href="articlebrowser">
                    <li>
                    <i class="fa-regular fa-newspaper"></i><span>Article Browser</span>
                </li>
                </a>
                <a href="weaviate/setup">
                    <li>
                    <i class="fa-solid fa-robot"></i><span>Weaviate Setup</span>
                    </li>
                </a>
                <a href="weaviate/search">
                    <li>
                    <i class="fa-solid fa-robot"></i> <span>Weaviate Search</span>
                    </li>
                </a>
                <a href="llm">
                    <li>
                    <i class="fa-solid fa-horse"></i><span>Ollama</span>
                </li>
                </a>
            </ul>
        }
    </ul>
</div>

@code {
    private bool IsAdvancedVisible { get; set; } = false;

    private void ToggleAdvanced()
    {
        IsAdvancedVisible = !IsAdvancedVisible;
    }
}
        