# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/
doc/_static/
doc/_templates/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# C# specific .gitignore entries

# Binaries and intermediates
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Test results
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults.xml

# nuget packages
*.nupkg
packages/

# Resharper
_ReSharper*/
*.ReSharper

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code directories
.vs/
.vscode/

# NuGet
**/[Pp]ackages/*
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nupkg
project.lock.json
project.assets.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.nuget.targets
*.nuget.props
orleans.codegen.cs

# Tooling
*.dll
*.exe
*.pdb
*.mdb
*.userprefs
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.swp
*.[Cc]ache
*.[Rr]esx
*.ncb
*.suo
*.user
*.vsp
*.vspx
*.vssscc
*.vspscc
*.vssscc
*.scc
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.psess
*.vsp
*.vspx
*.sap
*.patch

# Ignoring all files with .config extension in the root (to exclude sensitive configs)
/*.config

# Ignoring Service Fabric manifest files
PublishProfiles/
ApplicationPackageRoot/ApplicationManifest.xml
ApplicationPackageRoot/ApplicationParameters/*.xml
ServicePackageRoot/ServiceManifest.xml
ServicePackageRoot/Code/EntryPoint.sh
ServicePackageRoot/Config/*.xml
ServicePackageRoot/Data/.*
ServicePackageRoot/PackageRoot/.*

# Others
ClientBin/
[Ss]tyle[Cc]op.*
_ReSharper.*/
[Tt]humbs.db
TextEventVisualizer/database.db
