@page "/datamanipulator"
@attribute [StreamRendering]

<PageTitle>Tool for parsing interesting events</PageTitle>

<h1></h1>

<p>This component is for gathering data and running processes that will parse data</p>

