
.table-container {
    overflow-x: auto; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

tbody tr:not(.article-container):hover {
    background-color: #e8f4fc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.th-date {
    width: 100px;
}

.th-category {
    width: 170px;
}

.th-url {
    width: 100px;
}

.th-summary {
    width: auto;
}

.article-container{

}

.active-article-content {
    margin-top: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.article-content-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-content-body {
    white-space: pre-line;
}

.active-row {
    background-color: lightblue !important;
}

.filter-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

    .filter-container > div {
        flex-grow: 1;
        align-items: center;
    }

.filter-category select,
.filter-date input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: end;
}

    .filter-button:hover {
        background-color: #45a049;
    }

label {
    display: block;
    margin-bottom: 5px;
}

.filter-limit input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}