@page "/"

<PageTitle>Index</PageTitle>

<h1></h1>
<div class="navigation-cards">
    <a href="/timelinevisualizer/false" class="card">
        <h2>Timeline Visualizer</h2>
        <i class="fa-solid fa-magnifying-glass"></i>
        <br />
        <p>Click here to visit</p>
        
    </a>
    <a href="/timelinecreator" class="card">
        <h2>Timeline Creator</h2>
        <i class="fa-solid fa-wrench"></i>
        <br />
        <p>Click here to visit</p>
    </a>
</div>
