.info {
    height: 15vh;
}
    .info h1 {
        text-align: center;
        padding-bottom: 8px;
    }

.timeline {
    max-width: calc(100vw - 300px);
    height: 85vh;
    margin: auto;
    padding-bottom: 16px;
}

.timeline-header {
    text-align: center;
    margin-bottom: 30px;
}

    .timeline-header h4 {
        margin: 0;
        color: #333;
        font-size: 1.5em;
    }

    .timeline-header span {
        font-size: 0.9em;
        color: #666;
    }

    .timeline-header select {
        display: block;
        width: auto;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        font-family: Arial, sans-serif;
        margin: 0 auto;
        text-align: center;
    }

    .timeline-header .select-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.timeline-flex-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    height: 100%;
    overflow: auto;
}

.timeline-chunk {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    padding: 15px;
    min-width: 300px;
}

.article-headline {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    min-height: 80px;
}
.article-source {
    text-align: center;
    display: block;
    color: #707070;
    margin-bottom: 5px;
}

.article-publish-date {
    text-align: center;
    font-size: 0.8em;
    color: #999;
    margin-bottom: 15px;
}

.timeline-event-container {
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.2) transparent;
    overflow-y: auto;
    height:500px;
}
    /* For Chrome, Safari, and Edge */
    .timeline-event-container::-webkit-scrollbar {
        width: 5px;
    }


.timeline-event {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 15px;
}

    .timeline-event:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .timeline-event div:first-child {
        color: #999;
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    .timeline-event div:last-child {
        color: #333;
    }

.status-success {
    color: forestgreen;
}

.status-failure {
    color: red;
}

.status-pending {
    color: #FFA500;
}

.status-circle-green {
    height: 10px;
    width: 10px;
    background-color: forestgreen;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
}

.status-circle-red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.status-circle-orange {
    height: 10px;
    width: 10px;
    background-color: #FFA500;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.title {
    font-size: 26px;
    font-weight: 500;
    padding-right: 8px;
}


.timeline-logs-container{
    width: 30vw;
    height: 75vh;
    justify-self: center;
    overflow: auto;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: black solid 1px;
}

.log-title_container {
    justify-self: center;
    text-align: center;
    padding-bottom: 16px;
}

.log-messages-container {

}