@page "/timelinecreator"
@using Services
@using Models.Request
@using Models
@inject ITimelineService timelineService
@inject NavigationManager NavigationManager


<PageTitle>Timeline Creator</PageTitle>

<h1>Event Timeline Creator</h1>

<div class="settings-form">
    <div class="section-header">
        <div class="section-title">Article Clustering</div>
        <hr />
    </div>
    <div class="input-pair">
        <div class="label-with-info">
            <label for="search-term">Search Term</label>
            <i class="fa fa-asterisk" aria-hidden="true" title="Required"></i>
            <i class="fas fa-info-circle" title="Text field -> Term or concept to search for, seperate terms by comma.&#013;Number field -> The maximum allowed distance an article vector can have from this search. a good match is usually between 0.3 and 0.6"></i>
        </div>
        <input type="text" id="search-term" @bind="timelineRequest.ArticleClusterSearch" placeholder="corona virus, covid19" />
        <input type="number" @bind="timelineRequest.MaxArticleClusterSearchDistance" step="0.05" min="0" max="2" />
    </div>

    <div class="input-pair">
        <div class="label-with-info">
            <label for="positive-bias-term">Positive Bias Term:</label>
            <i class="fas fa-info-circle" title="Text field -> Term or concept that will strengthen the search, seperate concepts by comma.&#013;Number field -> How much the bias should impact the search"></i>
        </div>
        <input type="text" id="positive-bias-term" @bind="timelineRequest.ArticleClusterSearchPositiveBias!.Concepts" placeholder="Pandemic, full hospitals" />
        <input type="number" @bind="timelineRequest.ArticleClusterSearchPositiveBias.Force" step="0.05" min="0" max="1" />
    </div>

    <div class="input-pair">
        <div class="label-with-info">
            <label for="negative-bias-term">Negative Bias Term:</label>
            <i class="fas fa-info-circle" title="Text field -> Term or concept that will weaken the search, seperate concepts by comma.&#013;Number field -> How much the bias should impact the search"></i>
        </div>
        <input type="text" id="negative-bias-term" @bind="timelineRequest.ArticleClusterSearchNegativeBias!.Concepts" placeholder="War, wildfires in Australia" />
        <input type="number" @bind="timelineRequest.ArticleClusterSearchNegativeBias.Force" step="0.05" min="0" max="1" />
    </div>

    <div class="section-header">
        <div class="section-title">Article Cutoff</div>
        <hr />
    </div>

    <div class="input-solo">
        <div class="label-with-info">
            <label for="negative-bias-term">Maximum article count:</label>
            <i class="fas fa-info-circle" title="Maximum amount of articles to retrieve from the clustering query"></i>
        </div>
        <input type="number" @bind="timelineRequest.MaxArticleCount" step="1" min="1" max="100" />
    </div>

    <div class="input-solo">
        <div class="label-with-info">
            <label for="negative-bias-term">Max delta distance from first result:</label>
            <i class="fas fa-info-circle" title="The maximum allowable deviation in distance value between any result and the article most closely matching the search vector.&#013;If the first article has a distance of 0.5 and this setting is at 0.3 then any article with a distance of 0.8 or above will not be included"></i>
        </div>
        <input type="number" @bind="timelineRequest.MaxDistanceDeltaForArticles" step="0.05" min="0" max="2" />
    </div>

    <div class="section-header">
        <div class="section-title">Events</div>
        <hr />
    </div>

    <div class="input-solo">
        <div class="label-with-info">
            <label for="desired-events">Desired event count for an article</label>
            <i class="fas fa-info-circle" title="The desired amount of events to be extracted using a large language model, the result may not always be exactly the desired amount. The events retrieved will be what the llm has deemed the most important"></i>
        </div>
        <input type="number" id="desired-events" @bind="timelineRequest.DesiredEventCountForEachArticle" step="1" min="1" max="15" />
    </div>

    <div class="input-solo">
        <div class="label-with-info">
            <label for="max-events">Max event count for an article</label>
            <i class="fas fa-info-circle" title="Will remove any overflowing events exceeding this number"></i>
        </div>
        <input type="number" id="max-events" @bind="timelineRequest.MaxEventCountForEachArticle" step="1" min="1" max="15" />
    </div>
    

    <button class="btn-submit" @onclick="CreateTimeline">Create Timeline</button>
</div>

@code {
    private string ArticleClusterSearch = "covid19, corona virus";
    private float MaxArticleClusterSearchDistance = 1.0f;
    private string ArticleClusterSearchPositiveBias = "Pandemic";
    private float ArticleClusterSearchPositiveBiasWeight = .5f;
    private string ArticleClusterSearchNegativeBias = "Politics";
    private float ArticleClusterSearchNegativeBiasWeight = .5f;
    private int MaxEventCountForEachArticle = 3;
    private int DesiredEventCountForEachArticle = 3;
    private int MaxArticleCount = 20;
    private float MaxDistanceDeltaForArticles = .3f;
    private TimelineRequest timelineRequest = new();

    private async void CreateTimeline()
    {
        this.RedirectToTimelineViewerPage(true);
        var timeline = await this.timelineService.GenerateTimeline(this.timelineRequest);

        if (timeline != null)
        {
            await timelineService.AddTimeline(timeline);
        }

    }
    void RedirectToTimelineViewerPage(bool isShowTimelineLogsMode)
    {
        NavigationManager.NavigateTo($"/timelinevisualizer/{isShowTimelineLogsMode}");
    }
}