.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

.distance-column, .certainty-column {
    white-space: nowrap;
}

.content-column {
    width: 100%;
}
.table-container {
    overflow-y: scroll;
}



.search-container {
    min-width: 40svw;
    justify-self: center;
    height: fit-content;
    border-radius: 0.75rem;
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
}
.search-section, .bias-section {
    margin-bottom: 10px;
}

.field-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Aligns items vertically in the middle */
}

.bias-input, .weight-input {
    margin-right: 10px;
    margin-bottom: 5px;
    
}
.bias-input, .search-input {
    flex-grow: 1;
}

.weight-input {
    max-width: 75px;
}

.weight-label {
    white-space: nowrap; /* Prevents the label from wrapping */
}

label {
    margin-bottom: 2px; /* Reduced margin */
    font-weight: bold;
    font-size: 14px;
}

input[type="text"], input[type="number"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

    button:hover {
        background-color: #0056b3;
    }


.ping-success {
    color: forestgreen;
}

.ping-failure {
    color: red;
}

.ping-circle {
    height: 10px;
    width: 10px;
    background-color: #4CAF50; /* Green color */
    border-radius: 50%; /* Makes the div circular */
    display: inline-block;
    margin-right: 5px; /* Adds some space between the circle and the text */
}
.title{
    font-size: 26px;
    font-weight: 500;
    padding-right: 8px;

}

.center {
    justify-self: center;
}